<div class="card-deck mb-3" data-feed-id="{{ feed.pk }}">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-2 my-auto">
                <img
                    src="{{ feed.feed_img }}"
                    class="img-fluid mx-auto d-block"
                    alt="{{ feed.channel_name }}"
                />
            </div>
            <div class="col-md-10">
                <div class="card-body ml-3">
                    <h3 class="card-title">{{ feed.title }}</h3>
                    <p class="card-text">{{ feed.description }}</p>
                    <p class="card-text"><small class="text-muted">{{ feed.pub_date | date:"d/m/Y G:i" }}</small></p>
                    <div class="d-flex justify-content-between">
                        <div>
                            <a href="{{ feed.link }}" target="_blank">
                                <button class="btn btn-primary btn-sm mr-1">
                                    <i class="fas fa-book-open"></i>
                                </button>
                            </a>
                            <form method='POST' action="{% url 'favops' %}" class="d-inline">
                                {% csrf_token %}
                                <input name="pk" id="pk" type="hidden" value={{ feed.pk }}>
                                <button type="submit" name="addfavorite" class="btn btn-info btn-sm">
                                    <i class="fas fa-heart"></i>
                                </button>
                            </form>
                        </div>
                        <div>
                            <button class="btn btn-secondary btn-sm" disabled>
                                {% if feed.read %}
                                    <i class="fas fa-check-circle"></i> Read
                                {% else %}
                                    <i class="far fa-circle"></i> Unread
                                {% endif %}
                            </button>
                            <button class="btn btn-secondary btn-sm share-button" data-url="{{ feed.link }}">
                                <i class="fas fa-share"></i> Share
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <a href="{% url 'channel' feed.channel_name %}" class="text-muted">{{ feed.channel_name }}</a>
                </div>
            </div>
        </div>
    </div>
</div>