{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <main class="container flex-grow-1">
        <div class="row">
            <div class="col">
                {% for feed in page_obj %}
                    {% include "_items/feed.html" %}
                {% empty %}
                    <div class="vh-100 d-flex align-items-center justify-content-center">
                        <div><h3>No items found..</h3></div>
                    </div>
                {% endfor %}
                {% include "_items/pagination.html" %}
            </div>
        </div>
    </main>
{% endblock %}